<h3>Aquí puede cambiar el estado de un curso</h3>
<br>
<form action="/editado" method="get">
  <label for="id_c">ID del curso: </label>
  <input type="number" name="id_c" required>
  <label for="">Estado del curso</label>
  <select name="estado" required>
    <option>disponible</option>
    <option>cerrado</option>
  </select>
  <button>Guardar Cambios</button>
</form>
