<h3>Desea cancelar la inscripción de un aspirante?</h3>
<p>Introduzca el código (ID) del curso y el código (ID) del aspirante a eliminar.</p>

<form action="/eliminado" method="post">
  <label for="id_c">ID del curso: </label>
  <input type="number" name="id_c" required>
  <label for="id_u">ID del aspirante: </label>
  <input type="number" name="id_u" required>
  <button>Eliminar</button>
</form>
