<form action="/inscripcion" method="post">
<input input type="hidden" name="id" value={{id}} >
  <button>Inscribir</button>
</form>
<form action="/cancelacion" method="post">
<input input type="hidden" name="id" value={{id}} >
  <button>Cancelar</button>
</form>
<form action="/cursosDisp" method="get">
  <input input type="hidden" name="id" value={{id}} >
  <button>Ver cursos disponibles</button>
</form>
<form action="/" method="get">
  <button>Cerrar Sesion</button>
</form>
