<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Segunda Entrega</title>
  </head>
  <body>
    <header>
      <h1>Bienvienido al Instituto Romboide</h1>
    </header>
