<ul>
  <li>
    <a href="/inscripcion">Inscribirse a un curso</a>
  </li>
  <li>
    <a href="/cancelacion">Cancelar inscripcion de un curso</a>
  </li>
  <li>
    <a href="/">Cerrar sesion</a>
  </li>
</ul>