<ul>
  <li>
    <a href="/">Inicio</a>
  </li>
  <li>
    <a href="/crear-u">Registro</a>
  </li>
  <li>
    <a href="/crear-c">Crear Curso</a>
  </li>
  <li>
    <a href="/inscritos">Ver inscritos</a>
  </li>
  <li>
    <a href="/cursosDisp">Ver Cursos</a>
  </li>
</ul>
