{{>header}}

{{>links}}



<h3>Ingresa con el número de tu cuenta (No necesitas contraseña)</h3>
<form action="/redirige" method="post">
  <label for="id">
    ID
  </label>
  <input type="number" name="id" required>
  <br>
  <button>Ingresar</button>
</form>

<br>
<br>

<h3>¿No tienes una cuenta? Regístrate</h3>
<form action="/creado-u" method="post">
  <label for="id">
    ID
  </label>
  <input type="number" name="id" required>
  <br>

  <label for="nombre">
    Nombre
  </label>
  <input type="text" name="nombre" required>
  <br>

  <label for="correo">
    Correo Electrónico
  </label>
  <input type="email" name="correo" required>
  <br>

  <label for="telefono">
    Teléfono
  </label>
  <input type="number" name="telefono" required>
  <br>

  <button>Registrar</button>
</form>

{{>footer}}
