{{>header}}

<h3>Bienvenido Coordinador. ¿Que desea hacer?</h3>

<form action="/cursos_cord" method="get">
  <button>Administrar Cursos</button>
</form>

<form action="/" method="get">
  <button>Cerrar Sesion</button>
</form>



{{>footer}}
