{{>header}}

<h3>Que usuario desea eliminar? Introduzca su Código</h3>

<form action="/editar_usuario" method="post">
  <input type="number" name="id_u" value="">
  <button>Eliminar</button>
</form>

{{>footer}}
