{{>header}}
{{>linka}}

<p>Ingrese el curso en el que desea entrar. Y su ID nuevamente</p>
<form class="" action="/inscrito_c" method="post">
  <input type="text" name="nombre_c" placeholder="Nombre del curso...">
  <br>
  <input type="number" name="id_u" placeholder="ID...">
  <button>Ingresar</button>
</form>


{{>footer}}
