{{>header}}

<h3>Bienvenido {{nombre}}</h3>

<p>Eliga el curso en el que desea entrar</p>

<form class="" action="index.html" method="post">
  <button onclick="{{ingresarAspiranteCurso }}"></button>
</form>

{{>footer}}
