<!--
Yo como coordinador necesito poder eliminar a las personas que ya no están interesadas en el curso para poder
liberar los cupos del curso facilitando la inscripción a nuevas personas.
Criterios de aceptación
Se debe eliminar el usuario de la lista a partir del ingreso por parte del coordinador de los datos del usuario
 y del curso.
Me debe imprimir el listado de aspirantes del curso después de eliminar al especificado

-->

{{>header}}

{{>links}}

<h3>Estos son los inscritos: </h3>

{{{mostrarUsuarios}}}

{{>footer}}
