{{>header}}

{{>links}}

<h3>Estos son los inscritos: </h3>

{{eliminarUsuario id_u}}

{{{mostrarUsuarios2}}}

<a href="/editar_usuario">Editar Usuario</a>
<a href="/eliminar_usuario">Eliminar usuario</a>

{{>footer}}
